.outer {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
}

.inner {
    flex: none;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: 0.5s transform ease-in-out;
}

.inner.right {
    margin-left: -100%;
}

.right.slide {
    transform: translate3d(100%, 0, 0);
}

.left.slide {
    transform: translate3d(-100%, 0, 0);
}

.slide {
    transition: 0.5s transform ease-in-out;
}
