.slds-popover {
    display:none;
    position:absolute;
    left: 50%;
    bottom:35px;
    transform: translate(-50%,0);
}

.has-tooltip:hover .slds-popover, .has-tooltip:focus .slds-popover  {
    display:block;

}

.green{
    background-color:#4BCA81;
}