.slds-card__body {
    margin-bottom: 0px;
}

.slds-accordion__section {
    padding-right: none;
    padding-bottom: 0px;
}

@media print {
    .slds-accordion__content {
        overflow: visible;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

.slds-is-open {
    background-color: var(--bgColor);
}

.listViewSelector button,
.listViewSelector button:hover,
.listViewSelector button:focus,
.listViewSelector button:active {
    color: #000000;
}

.listViewSelector lightning-primitive-icon {
    margin-left: 10px;
}

.slds-button__icon {
    margin-bottom: 2px;
}
